params {
   // Input parameters:
   // Note: you MUST set the license to use the MiXCR image (for non-commercial use only - see https://licensing.milaboratories.com/)
   readsfile     = "sampleslist.csv"
   project_name  = "test"
   species       = 'hsa' //species should be one of 'hsa' or 'mmu'
   outdir        = '/ix/drajasundaram/drajasundaram/shared_bts76_dhr11/BCR_pipeline/bcr-test/test_results'
   is_sc         = false //true if 10X GEX samples, false if bulk
   igmt          = '/ix/drajasundaram/drajasundaram/shared_bts76_dhr11/BCR_pipeline/bcr-test/imgt.202214-2.sv8.json'
   mixcr_license = "I.eyJ2IjoxNjk2NDQ1NTYyLCJlIjoxNjk2NTMyMTU4LCJtIjoiODI2MTdkYjEtNDExNC00NDAxLWEzY2EtOGUyODIxNmNkMDY0IzA1M2EwNDliZjdhOWUzNjJhZTg2YjJhN2MzZjJhMDg4M2YyMGJhMTljNDQ5ZWYxNDY3MDU5YjU0YTEyYTkxMTYiLCJsIjoiRS1KVUNBRktPS1hOSFlYQ0pVVEREWkRUT1ZLU0pTQUNWUklJUFlLVkhPSExYR0JYU0UifQ==.CPECUVF.CVBhCSzk/S3XLEnIPhI0QnYFmVw+SccrlCAWnIDkF8IWzKGYdiQLXOScZeYaqu99yra8vOphGs2ibmqY64Jp4udxbTJMTu3JqA+jDIuH99I3bp3YO0jguEd3xaZSDUo0b7hPSyXKsYhKLIDSvGTOlNdWA09fdVi+M14cfBTRu6+KqvKV3L5s6F/Rpk0R4vel8tRqUbU5aLbnFV0wuglqd9EjZ+OtRnoMWZkrHIddv7C4TLikR3p+ISpJ4eUuQOjDJ9RkEzW1pHPxFoUDyUr3Fw6i0LWM/JZ3veAYcIYYLO3iWA4ADSR03HoO9w++ML0WoUktdCcR69g+o4oxonSTQA=="
   
   // Resources (should match Slurm submission header if using the Slurm profile)
   memory  = 64.GB
   threads = 8
   cpus    = 4
   time    = 12.h

   // Logging
   tracedir = "${params.outdir}/performance-info"
}

process {
    cache = true
    withLabel: all_cpu {
        cpus = params.cpus
    }

    // Specify the MiXCR container:
    // NOTE: the MiXCR Docker Hub container was deprecated, use the GHCR container instead
    withLabel: mixcr {
        container = 'docker://ghcr.io/milaboratory/mixcr/mixcr:4.5.0-40-develop'
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        MI_LICENSE=params.mixcr_license
        docker.enabled = true
        singularity.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        MI_LICENSE=params.mixcr_license
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
    slurm {
        MI_LICENSE=params.mixcr_license
        process.executor = 'slurm'
        queue = 'general'
        scratch = 'true'
        singularity.enabled = true
        docker.enabled = false
    }
}
